{% extends 'base.html.twig' %}

{# Commentaire twig #}
{% block title %}
{{ parent() }} | Modif de l'actu !
{% endblock %}

{% block main_content %}
    <h1>Modif de l'actu !</h1>
    {{ form( actuForm, {"attr":{"novalidate":"novalidate"}} ) }}
{% endblock %}
