{% extends 'email.html.twig' %}

{% block content %}

	<p>Veuillez cliquer sur le lien ci-dessous :</p>

	<a href="{{ url("resetPassword", {"email": foundUser.email, "token": foundUser.token}) }}"></a>


	<p>{{ foundUser.email }}</p>
	<p>{{ foundUser.token }}</p>

{% endblock %}